ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: Rubik;
  font-size: 12px;
  color: #616161;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1087px;
  margin: 0px auto;
  padding: 0px 15px;
}

@media (max-width: 1087px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
}

@media (max-width: 479.98px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    overflow: hidden;
  }
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  margin: 0 40px 0 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 114px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .header__container {
    min-height: 80px;
  }
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__button {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 252px;
          flex: 0 0 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

@media (max-width: 991.98px) {
  .header__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 170px;
            flex: 0 0 170px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px 40px 0px 0px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin: 0 40px 0 0;
}

@media (max-width: 991.98px) {
  .menu__item {
    padding: 0px 0px 0px 0px;
  }
  .menu__item:last-child {
    margin: 0px 0px 0px 0px;
  }
}

.menu__link {
  font-family: Raleway;
  text-transform: uppercase;
  font-weight: 700px;
  line-height: 1.2;
  font-size: 10px;
  color: #000;
  letter-spacing: 1px;
  text-decoration: none;
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 80px 15px 30px 15px;
    margin-left: -15px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .menu__link {
    color: #000;
    font-size: 20px;
    text-decoration: none;
  }
  .menu__item {
    margin: 0px 0px 25px 0px;
  }
  .menu__link:hover {
    text-decoration: underline;
  }
  .menu__item:last-child {
    margin-bottom: 0px;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header:target .menu__body {
  left: 0px;
}

.header:target .icon-menu {
  display: none;
}

.header:target .close-icon-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  display: inline-block;
  font-family: Raleway;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #FCFDFE;
  padding: 14px 30px;
  border-radius: 5px;
  background: #EC5863;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  text-decoration: none;
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #bd474f;
  }
}

.button-blue {
  background: #4285F4;
}

@media (any-hover: hover) {
  .button-blue:hover {
    background-color: #3469be;
  }
}

.icon-menu {
  display: none;
}

@media (max-width: 767.98px) {
  .close-icon-menu,
  .icon-menu {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 0px 0px 20px;
  }
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    background-color: #000;
    height: 2px;
  }
  .close-icon-menu {
    display: none;
  }
  .icon-menu span {
    height: 2px;
    background-color: #000;
  }
  .close-icon-menu::before,
  .close-icon-menu::after {
    position: absolute;
    content: '';
    width: 100%;
    top: 50%;
    background-color: #000;
    height: 2px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .close-icon-menu::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .close-icon-menu::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

/* ------------------------------------------------*/
.block-text-center {
  text-align: center;
}

.block-text__title {
  line-height: 126%;
  font-weight: bold;
  font-size: 44px;
}

.block-text__title:not(:last-child) {
  margin: 0px 0px 12px 0px;
}

.block-text__title span {
  color: #EC5863;
}

.block-text__title-blue span {
  color: #4285F4;
}

.block-text__text {
  line-height: 138.5%;
}

.block-text__text:not(:last-child) {
  margin: 0px 0px 24px 0px;
}

.block-text__button {
  text-decoration: none;
}

.block-text__text-mw {
  max-width: 620px;
  margin: 0 auto;
}

@media (max-width: 767.98px) {
  .block-text__title {
    font-size: 34px;
  }
}

/*----------------------------------------------------*/
.get-started {
  background-color: #FAFBFD;
}

.get-started__container {
  padding: 150px 15px 50px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.get-started__container::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100%;
  right: 267px;
  top: 0;
  background: #EC5863;
  -webkit-transform: translate(100%, 0px);
          transform: translate(100%, 0px);
  border-radius: 30px 0 0 30px;
}

@media (max-width: 991.98px) {
  .get-started__container::before {
    right: 185px;
  }
}

.get-started__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  padding: 0px 0px;
}

.get-started__block-text {
  max-width: 410px;
}

.get-started__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 52%;
          flex: 0 1 52%;
  z-index: 2;
}

.get-started__image img {
  max-width: 100%;
}

.get-started__video {
  padding: 60px 0px 0px 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

@media (max-width: 767.98px) {
  .get-started__container {
    padding: 60px 15px 50px 15px;
  }
  .get-started__container::before {
    display: none;
  }
  .get-started__block-text {
    max-width: none;
  }
  .get-started__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .get-started__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
    padding: 30px;
  }
  .get-started__video {
    padding: 0px;
    margin: 0px 0px 0px 0px;
  }
}

.video-get-started {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.video-get-started__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44px;
          flex: 0 0 44px;
}

.video-get-started__body {
  padding: 0px 0px 0px 12px;
}

.video-get-started__title {
  color: #B0B0B0;
  font-size: 13px;
  line-height: 126%;
  letter-spacing: 1.5px;
}

.video-get-started__title:not(:last-child) {
  padding: 0px 0px 5px 0px;
}

.video-get-started__text {
  text-transform: uppercase;
  font-size: 9px;
  line-height: 126%;
  letter-spacing: 2px;
}

/*-------------------------------------------------*/
.stay-safe {
  padding: 80px 0px;
}

.stay-safe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stay-safe__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 0px 0px 47px;
}

.stay-safe__future {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (min-width: 991.98px) {
  .stay-safe__media {
    padding: 0px 0px 0px 47px;
  }
}

@media (max-width: 767.98px) {
  .stay-safe__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .stay-safe__media {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0px 0px 0px 47px;
  }
  .stay-safe__future {
    padding: 0px 0px 20px 0px;
  }
  .stay-safe .stay-safe {
    padding: 35px 10px;
  }
}

@media (max-width: 991.98px) {
  .stay-safe {
    padding: 60px 10px;
  }
}

@media (max-width: 479.98px) {
  .media-stay-safe {
    width: 290px;
  }
}

@media (max-width: 767.98px) {
  .stay-safe {
    padding: 35px 10px;
  }
}

.media-stay-safe {
  width: 373px;
  text-align: center;
  position: relative;
  padding: 56px 0px 27px 0px;
}

.media-stay-safe__image {
  display: inline-block;
  -webkit-box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
          box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  position: relative;
  width: 61.5%;
}

.media-stay-safe__image img {
  position: relative;
  z-index: 5;
  max-width: 100%;
}

.media-stay-safe__image::after {
  content: '';
  position: absolute;
  width: 206px;
  height: 27px;
  bottom: -12px;
  left: 12px;
  background: rgba(240, 240, 240, 0.49);
  border-radius: 16px;
  z-index: 2;
}

.media-stay-safe__block {
  position: relative;
  content: "";
  background-color: #EC5863;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.media-stay-safe .block1 {
  position: absolute;
  top: 0px;
  left: 0;
  width: 147px;
  height: 147px;
}

.media-stay-safe .block2 {
  position: absolute;
  bottom: 0px;
  left: 34px;
  width: 77px;
  height: 77px;
}

.media-stay-safe .block3 {
  position: absolute;
  bottom: 107px;
  right: 34px;
  width: 77px;
  height: 77px;
}

/*========================================*/
.experts {
  background: #fafbfd;
  padding: 103px 0px 116px 0px;
}

.statistics-expert {
  max-width: 655px;
  margin: 0px auto;
  position: relative;
}

.statistics-expert__body {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
          box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
  position: relative;
  z-index: 2;
  margin: 0px 0px 80px 0px;
}

.statistics-expert__decor {
  position: absolute;
  background-color: #EC5863;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.statistics-expert__decor-1 {
  width: 65px;
  height: 65px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  bottom: -20px;
  left: -20px;
  border-radius: 16px;
}

.statistics-expert__decor-2 {
  width: 96.96px;
  height: 96.96px;
  top: -40px;
  right: 50%;
  -webkit-transform: rotate(105deg);
          transform: rotate(105deg);
}

.statistics-expert__decor-3 {
  width: 127.47px;
  height: 127.47px;
  top: -5px;
  right: -50px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

@media (max-width: 767.98px) {
  .statistics-expert__body {
    margin: 0px 0px 50px 0px;
  }
  .statistics-expert .body-statistics-expert {
    padding: 25px;
  }
}

.body-statistics-expert {
  padding: 25px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-statistics-expert__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  text-align: center;
}

.body-statistics-expert__item:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.body-statistics-expert__value {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #EC5863;
  margin-bottom: 5px;
}

.body-statistics-expert__text {
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
}

@media (max-width: 479.98px) {
  .body-statistics-expert {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .body-statistics-expert__item:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }
}

.experts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.experts__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px 0px 0px;
}

.experts__block-text {
  max-width: 400px;
}

.experts__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 0 24% 0;
  position: relative;
}

.experts__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
          box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
}

@media (max-width: 767.98px) {
  .experts__body {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .experts__video {
    padding: 0 0 58% 0;
  }
  .experts__content {
    padding: 0px;
    margin: 0px 0px 30px 0px;
  }
}

/*================================================*/
.healthcare__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 980px;
  margin: 40px auto;
  gap: 72px;
}

.healthcare__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

@media (max-width: 991.98px) {
  .healthcare__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .healthcare__column:not(:last-child) {
    margin: 0 0 25px 0;
  }
}

.item-healthcare {
  height: 100%;
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 35px 17px;
  z-index: 2;
}

.item-healthcare__icon {
  margin: 0px 0px 58px 0px;
}

.item-healthcare__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: #000000;
}

.item-healthcare__text {
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: #616161;
}

.healthcare__column {
  position: relative;
}

.healthcare__column-1::before, .healthcare__column-1::after {
  content: "";
  position: absolute;
  background: #EC5863;
  border-radius: 16px;
}

.healthcare__column-1::before {
  width: 65px;
  height: 65px;
  bottom: -35px;
  left: -20px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.healthcare__column-1::after {
  width: 97px;
  height: 97px;
  top: 40px;
  right: -50px;
  border-radius: 30px;
  -webkit-transform: rotate(105deg);
          transform: rotate(105deg);
}

.healthcare__column-2::before {
  content: "";
  position: absolute;
  background: #EC5863;
  border-radius: 16px;
  width: 127px;
  height: 127px;
  bottom: -20px;
  right: -80px;
  border-radius: 30px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.healthcare__column-3::after {
  content: "";
  position: absolute;
  background: #EC5863;
  border-radius: 16px;
  width: 65px;
  height: 65px;
  top: -25px;
  right: -20px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

@media (max-width: 1087px) {
  .healthcare__column {
    padding: 0px 15px;
  }
}

/*==================================================*/
.footer {
  padding: 45px 0;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 500px) {
  .footer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 500px) {
  .footer {
    padding: 20px 0;
  }
}
